<!DOCTYPE html>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css') }}">


{% with messages = get_flashed_messages %}
    {% if messages %}
        {% for message in messages() %}
            <div class="message">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<body>
    <div class="head1">
        <h1>Moodle-Lite</h1>
    </div>
    
    <form action="/login" method="POST">
        <h2>Kirjaudu sisään</h2>
        <div class="form-text-input">
            <p>Tunnus:<br>
            <input type="text" name="username"></p>
        </div>
        <div class="form-text-input"></div>
        <p>Salasana:<br>
            <input type="password" name="password"></p>
        </div>
        <div class="submit">
            <input type="submit" value="Kirjaudu">
        </div>
    </form>
    
    <div class="link">
        <a href="/signup">Luo tunnus</a>
    </div>
</body>