{% extends 'base.html' %}
{% block body %}
<a href="/frontpage">Takaisin etusivulle</a>

<body>
    <h1>{{ course_name }}</h1>
    {% if session.role == 'student' %}
    {% if on_course == False %}
        <form action="/join/{{ course_name }}/{{ course_id }}" method="POST">
            <input type="submit" value="Liity kurssille">
        </form>
    {% endif %}
    
    {% if on_course == True %}
        <form action="/exit_course/{{ course_name }}/{{ course_id }}" method="POST">
            <input type="submit" value="Poistu kurssilta">
        </form>
        <br>
    {% endif %}
    {% endif %}
    <br>
    {% if session.role == 'teacher' %}
    <div class="info">
        <a href="/{{ course_name }}/{{ course_id }}/students">Kurssin oppilaat</a>
    </div>
    {% endif %}
    <br>

    <h2>Tehtävät</h2>
    {% if on_course == True %}
        <p>Tehtäviä ratkaistu {{ solved_count }}/{{ task_count }}</p>
    {% elif session.role == 'student' %}
        <p>Liity kurssille nähdäksesi tehtävät</p>
    {% endif %}
    {% for task in course_tasks %}
        {% if session.role == 'teacher' %}
        <div class="course_or_task">
            <div class="task_name">
                <a href="/{{ course_name }}/{{ course_id }}/tasks/{{ task[0] }}">{{ task[1] }}</a>
            </div>
            <div class="remove">
                <a href="/{{ course_name }}/{{ course_id }}/remove_task/{{ task[0] }}">Poista</a>
            </div>
        </div>
        {% endif %}
        {% if session.role == 'student' %}
            {% if on_course == True %}
                {% if task[2] == 1 %}
                    <div class="course_or_task2">
                        <div class="task_name">
                            <a href="/{{ course_name }}/{{ course_id }}/tasks/{{ task[0] }}">{{ task[1] }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if task[2] == 0 %}
                    <div class="course_or_task">
                        <div class="task_name">
                            <a href="/{{ course_name }}/{{ course_id }}/tasks/{{ task[0] }}">{{ task[1] }}</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <br>
    {% if session.role == 'teacher' %}
    <div class="info">
        <a href="/{{ course_name }}/{{ course_id }}/add_task">Lisää tehtävä</a>
    </div>
    {% endif %}

    <br>
    <h2>Kurssin materiaali</h2>
    {% for cont in content %}
    <div class="content">
        <p>{{ cont[1] }}</p>
        {% if session.role == 'teacher' %}
        <a href="/{{ course_name }}/{{ course_id }}/remove_content/{{ cont[0] }}">Poista</a>
        {% endif %}
    </div>
    {% endfor %}

    <br>
    {% if session.role == 'teacher' %}
    <div class="info">
        <a href="/courses/{{ course_name }}/{{ course_id }}/add_text">Lisää materiaalia</a>
    </div>

    <br>
    <div class="delete">
        <a href="/courses/{{ course_name }}/{{ course_id }}/delete_course">Poista kurssi</a>
    </div>
    {% endif %}
</body>
{% endblock %}
