{% extends 'base.html' %}
{% block body %}
{% if session.role == 'student' %}

<a href="/courses/{{ course_name }}/{{ course_id }}">Takaisin</a>

<h1>{{ task[0] }}</h1>
<p>{{ task[1] }}</p>
<br>

{% if task[2] == 1 %}


<form action="/{{ course_name }}/{{ course_id }}/tasks/answer/{{ task_id }}" method="POST">

{% for content in contents%}
<input type="checkbox" name="answer" value="{{ content[0] }}"> {{ content[1] }} <br>
{% endfor %}

<input type="hidden" name="hide" value="1">
<input type="submit" name="Submit">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>


{% endif %}

{% if task[2] == 2 %}

<form action="/{{ course_name }}/{{ course_id }}/tasks/answer/{{ task_id }}" method="POST">
<input type="message" name="answer">
<input type="hidden" name="hide" value="2">
<input type="submit" name="Submit">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% endif %}


{% if session.role == 'teacher' %}

<a href="/courses/{{ course_name }}/{{ course_id }}">Takaisin</a>

<h1>{{ task[0] }}</h1>
<p>{{ task[1] }}</p>
<br>

{% if task[2] == 1 %}

{% for content in contents%}
<input type="checkbox" name="answer" value="{{ content[0] }}"> {{ content[1] }} <br>
{% endfor %}

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% if task[2] == 2 %}
<input type="message" name="answer">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}
{% endif %}
{% endblock %}
